<h1> Downloader version <%= @ver %></h1>
<p>
 <%= "redir = '#{@redir}'<p> debug params '#{debug params}'   params.class '#{params.class}' params.size '#{params.size}' "  %>

<%# = "@download.url  = '#{@download.url}'<p><p>" %>